<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>about</title>
</head>
<body>
	<div class="main">
		{{>header}}

		<p>This application is powered by darksky.net and mapbox.com for external API support. This application was created using react.js.</p>
	</div>
	
	{{>footer}}
</body>
</html>